/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  font-family: 'Roboto-Regular';
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#eaeaea;

  font-size:14px;
  height:100%;
  margin:0px;
  padding:0px;
   // text-transform:uppercase;
   width:100%;
    position: fixed;
}

a:link   
{   
 text-decoration:none;   
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



#map{  
    position:absolute;
  width:100%;
  height: 100%;
  background: #B2B5BE;

/*  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;*/
}

#container {
    position:relative;
    border: 1px solid black;
    width:100%;
    height:100%;
    overflow:hidden
}
#inner {
    position: relative;
    width: 200%; 
}

#contenidoCuerpo{  
  background-color:#eaeaea;
  position:absolute;
  width: 100%;
  height: 100%;
  overflow:scroll;
  text-align:center;
/*  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;*/
}

#cuerpo{
	background:#fff;
	position:absolute;
	width: 100%;
	height:100%;
}
#menuprincipal{
	background:#eaeaea;
	position:absolute;
	width: 100%;
	height: 100%;
}

#menuOpMap {
	position:absolute; z-index:2;
	top:50%; left:0;
	width:55px;        
	background: #00569f;
	border-bottom: 2px solid #cccccc;
        border-radius: 0px 15px 15px 0px;
        box-shadow:2px 5px 3px #333;
	padding:0;
	color:#eee;
	font-family: 'Roboto-Regular';
	font-size:14px;
	line-height: 55px;
	text-align:center;
	height: 55px;        
        opacity: 0.8;
        background:-webkit-linear-gradient(top, #cedce7, #596a72);
}

#menu {
	position:fixed; z-index:2;
        overflow-x: hidden;
	top:0px; left:0;
	width:100%;
	background: #00569f;
	border-bottom: 1px solid #cccccc;
	padding:0;
	color:#eee;
	font-family: 'Roboto-Regular';
	font-size:18px;
	line-height: 45px;
	text-align:center;
	height: 45px;
    /******/
    background-image: -webkit-linear-gradient(top, #4c9bbc, #193b61);
 background-image: -moz-linear-gradient(top, #4c9bbc, #193b61);
 background-image: -ms-linear-gradient(top, #4c9bbc, #193b61);
 background-image: -o-linear-gradient(top, #4c9bbc, #193b61);   
 
      
}
#idFerro{
    width: 10px;
    height: 10px;
}

.menuTitle {
    position:relative;
    left:-25px;
}

#divAlerts{
        position:absolute; z-index:2;
        left:5%;
        top:10%;
        width: 90%;
        height: 80%;
        overflow:scroll;
        text-align:center;
	//top:50%; right:50%; 
   
        display:none;
        margin: auto;
        alignment-adjust:auto;
        background-color: #ffffff;
        border: 2px solid;
        border-radius: 15px;
     //   opacity:0.8;
}

.textForm {
        width: 70%;
        color:#eee;
	font-family: 'Roboto-Regular';
	font-size:16px;	
}

.textFormSes {
        text-align: left;
        right: 30%;
        margin: 0px 14%; 
      
        color:#eee;
	font-family: 'Roboto-Regular';
	font-size:16px;	
}

.textAlert {
        //width: 70%;
        right: 30px;
        color:black;
	font-family: 'Roboto-Regular';
	font-size:16px;	
}

.areaHelp {
   float: left; clear: left; padding: 5px 20px 0px 20px; margin: 0 0 20px 0; 
   text-align: left;
   color: white; height: 40px;
   background-color: black;
   background: black;
   font-family: 'Roboto-Regular';
   font-size:16px;	

}

p {
       text-align: justify;
text-justify: inter-word;
}

 #contactIni {
       top:10%;
	width: 90%;        
         background-color: #eaeaea;
        margin: 50px 5%;        
        alignment-adjust: center;
        vertical-align: middle;
        text-align: center;        
        
        position:relative; z-index:2;
 }
 
  #listMapIni {
	width: 90%; 
        
        // top: 50%;
        margin: 55px 5%;
        
        alignment-adjust: center;
        vertical-align: middle;
        text-align: center;
        
        position:relative; z-index:1;
 }
 
 
 
  #contact {
	width: 90%; 
        
        
        margin: 55px 5%;
        
        alignment-adjust: center;
        vertical-align: middle;
        text-align: center;
        
        position:relative; z-index:1; 

}

#menugen {
    position:absolute; z-index:2;
    height:60px;
    width: 90%;
    opacity: 0.7;
    top:5%;
    right:5%; 
    background: #757575;
    border-radius: 5px;
}

#menugenTitulo {
    position:absolute; z-index:2;
    height:auto;
    width: 50%;
    opacity: 0.7;
    top:1%;
    left:25%;   
    background: #757575;
    border-radius: 5px;
    color: white;
}

#mensajeInfo {
    position:absolute; z-index:2;
    height:auto;
    width: 90%;
    opacity: 0.7;
    top:5%;
    left:5%;   
    background: #757575;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

#magin1{
 margin: 5px;
}

#menugenEdit {
    position:absolute; z-index:2;
    height:60px;
    width: 90px;
    opacity: 0.7;
    top:5%;
    left:30px;   
    background: #757575;
    border-radius: 5px;
}

#menuEdit {
	position:absolute; z-index:2;
	top:5%; left:50px; 
        opacity: 0.9;     
}


#menu2 {
	position:absolute; z-index:2;
	top:5%; right:85%; 
        opacity: 0.9;
     
}

#menu3 {
	position:absolute; z-index:2;
	top:5%; right:75%; 
        opacity: 0.9;     
}

#menu4 {
	position:absolute; z-index:2;
	top:5%; right:55%; 
        opacity: 0.9;
}


#menu5 {
	position:absolute; z-index:2;
	top:5%; right:35%; 
        opacity: 0.9;
}

#menu6 {
	position:absolute; z-index:2;
	top:5%; right:15%; 
        opacity: 0.9;
}

#menu7 {
	position:absolute; z-index:2;
	top:5%; right:0%; 
/*        border: 2px solid #cccccc;
        border-radius: 8px;*/
        opacity: 0.9;
}

#divAlerts{
        position:absolute; z-index:2;
        left:1%;
        width: 75%;
        height: 350px;
       
        //overflow:scroll;
        text-align:center;
	//top:50%; right:50%; 
   
        display:none;
        margin: 30px 50px;
        background-color: #D8D8D8;
        border: 2px solid;
        border-radius: 15px;
  
}

#divHelp {
        position:absolute; z-index:3;
        
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%;
       
        overflow:scroll;
        text-align:center;	
   
        display:none;
        
        background-color:black;
        border: 2px solid;
        border-radius: 15px;
        opacity:0.8;
        
}

#ranting {
        position:absolute; z-index:3;
        
        width: 150px;
        height: 100px;
        left: 5%;
        top: 5%;
       

        opacity:0.8;
        
}

.logo{
	height:48px; 
	width:auto; 
	margin-top:6px;
	
}

button {
  width:150px;
  height:50px;
  display:inline-block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  //text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #07526e;
  padding-top:6px;
  margin-left:5px;
  margin-right:5px;
  //left:15px;
  position:relative;
  cursor:pointer;
  border: none;
  background: #109bce;
  background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
  border-radius: 5px;
  
  //box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}

button:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

button:before {
  font-family: 'Roboto-Regular';
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
 // content:"\F020";
  width:85px;
  height:90px;
  display:block;
  position:absolute;
  padding-top:10px;
  top:10px;
  text-shadow: 1px 1px 2px #07526e;

}

#posMap {
	position:absolute; z-index:2;
	top:85%; right:80%; 
        opacity: 0.8;     
}

.logoMap{
	height:60px; 
	width:auto; 
	margin-top:5px;	
}

.logoMenu {     
    width: 70px; 
    height: 70px;
     margin-left: -65px;
    // border-radius: 3px;
    //box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}

button:active:before {
  top: 7px;
  font-size: 50px;
  text-shadow: 0px 3px 0px #07526e, 0px 5px 1px #07526e/*, 3px 0px 1px #07526e, 3px 3px 1px #07526e,
     -2px 0px 1px #68cff2*/;
}

/* Estilo de capa general */ 
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.iUser {
	width: 70%; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0; 
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%);   
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D));   
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #f2f2f2; //text-transform: uppercase; 
        text-shadow: 0px -1px 0px #334f71; 
}


#accept{
  background: #2B72CC;
  background-image: -webkit-linear-gradient(top, #4c9bbc, #275c98);
    background-image: -moz-linear-gradient(bottom, #4c9bbc, #275c98);
    background-image: -ms-linear-gradient(bottom, #4c9bbc, #275c98);
    background-image: -o-linear-gradient(bottom, #4c9bbc, #275c98);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  color: #ffffff;
      font-size:15px; 
    font-family: 'Roboto-Regular';
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  text-align: center;
  
}

#btRegistro{
  background: #cedce7;
  background-image: -webkit-linear-gradient(top, #cedce7, #596a72);
    background-image: -moz-linear-gradient(bottom, #cedce7, #596a72);
    background-image: -ms-linear-gradient(bottom, #cedce7, #596a72);
    background-image: -o-linear-gradient(bottom, #cedce7, #596a72);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  color: #ffffff;
      font-size:15px; 
    font-family: 'Roboto-Regular';
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  text-align: center;  
}


#close{
 background: #00569E;
   background-image: -webkit-linear-gradient(top, #4c9bbc, #275c98);
    background-image: -moz-linear-gradient(bottom, #4c9bbc, #275c98);
    background-image: -ms-linear-gradient(bottom, #4c9bbc, #275c98);
    background-image: -o-linear-gradient(bottom, #4c9bbc, #275c98);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  color: #ffffff;
   font: bold 2em; 
    font-size:15px; 
   font-family: 'Roboto-Regular';
  padding: 5px 20px 5px 20px;
  text-decoration: none
}

#aceptLicencia {
    width: 30px;
}

.lbText {
   float: left; clear: left; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0; 
   text-align: left; font-size: 16px; color: #445668; height: 40px;
	//text-transform: uppercase; 
   text-shadow: 0px 1px 0px #f2f2f2;
}

.modListMap {
	//display: table-cell;
    //width: 80%;		 
  //  margin-left: 80px;
   // margin-left: 80px;
    text-align: center;
    background: -webkit-linear-gradient(top, #4c9bbc, #193b61);//-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,225,231,1) 100%);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.modListMap2 {
    margin-left: 15px;    
    margin-right: 15px;
   
}


#main {
    	left:1%;
	right:1%;
    width:95%;
    overflow:hidden;
    height:auto;
        background: -webkit-linear-gradient(top, rgba(216,225,231,1) 0%,rgba(206,215,221,1) 100%);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;  
}
#column_left {
      margin-left: 15px;
    width:20%;
    
    float:left;
}
#column_right {
    width:70%;
    
    float:right;
}

// Boton ON/OFF

.onoff{
    
    width: 100px; 
    height: 40px;
    text-align: right; 
    float: right;
    
}

.onoffswitch1 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox1 {
    display: none;
}
.onoffswitch-label1 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner1 {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner1:before, .onoffswitch-inner1:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner1:before {
    content: "Si";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner1:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch1 {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-inner1 {
    margin-left: 0;
}
.onoffswitch-checkbox1:checked + .onoffswitch-label1 .onoffswitch-switch1 {
    right: 0px;
}


.onoffswitch2 {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox2 {
    display: none;
}
.onoffswitch-label2 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner2 {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner2:before, .onoffswitch-inner2:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner2:before {
    content: "Si";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner2:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch2 {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
    margin-left: 0;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
    right: 0px;
}