<div class="perfilTitulo" id="lbPersonalData">Crea tu comentario</div>
<br/>
<fieldset style="width: 80%; height: 50%;">
    <label id="lbName" class="perfil" for="nombre">Comentario:</label>	
  <textarea  style="width: 80%; height: 150px;" name="coments" id="coments" maxlength="200">
  </textarea>
<br/>
<p>
<label id="lbName" class="perfil" for="nombre">Nombre:</label>
<br>
<input type="text" name="nombre" onchange="changeNick(this)"  id="nickUserComment"/>
<p>

</fieldset>
<div  class="search"> <input id="accept" type="button" value="Aceptar" onclick="javascript:addComments();"/><a href="javascript:menu('menu');"><input id="close" type="button" value="Cancelar" onclick="javascript:cancelComment();" /></a></div>