
<div id="scroller">
<div id="ranting" style="text-align:right; margin-right: 15px;"> 
    <a href="javascript:startRatingSurvey(true);"><img class="logo" src="img/estrellas.png" /></a>
</div>
<div class="perfilTitulo" id="lbPersonalData">Personal data</div>
<h5>Introduce tus datos personales, para priorizar los eventos que se ajuste a tu perfil.</h5>  
<br/>
<fieldset>
<p>
<label id="lbName" class="perfil" for="nombre">Nombre:</label>

<input  type="text" name="nombre" onchange="changeNick(this)"  id="nickUser"/>
<p>
<div class="perfil" id="lbSex">
Sexo:
</div>
<br>
<input type="radio"  id="mam" onclick="selectSex(this)"/>
<label id="lbMale" for="mam">Masculino</label>
<input type="radio" id="womam"  onclick="selectSex(this)"/>
<label id="lbFemale" for="womam">Femenino</label>
</p>
<p>
<div class="perfil" id="lbDateBirth">
Fecha de nacimiento:
</div>
<br>
<input type="date" style="background: white; color: #8fa6b3;"  id="bday" onchange="changeDate(this)" />
</p>
<!--</fieldset>
<br/>

<div class="perfilTitulo" id="lgFamily">Family</div>
<fieldset>-->
<p>
<div class="perfil" id="lbChildren">
Hijos:
</div>
<br/>
<input type="radio" id="withChildren"  onclick="selectChildren(this)"/>
<label id="lbWithCildren" for="withChildren">Si</label>
<input type="radio" id="childless"  onclick="selectChildren(this)"/>
<label id="lbChidless" for="childless">No</label>
<p>
<div id="childrenAge">
<div  class="perfil" id="lbChildrenAge">
Children´s age:
</div>
<br/>
<input type="checkbox"  id="nChildren1" onclick="selectNumChildren(this)"/>
<label for="hijo0">0-5</label>
<input type="checkbox" id="nChildren2" onclick="selectNumChildren(this)"/>
<label for="hijo1">6-12</label>
<input type="checkbox" id="nChildren3" onclick="selectNumChildren(this)"/>
<label for="hijo2">13-18</label>
<br/>
<p>
</div>
</fieldset>
<br><br>
<input id="accept" type="button" value="Aceptar" onclick="javascript:menu('menu');" />
<br>
<br>
<br>
<br>
</div>


 <!--
!DOCTYPE html>
<body>
<form id="orderForm" action="" method="get">
<h3>Datos personales</h3>
<fieldset>

<p>
<label class="azul" "lbName" for="nombre">Name</label>
<br>
<input  type="text" name="nombre" onchange="changeNick(this)"  id="nickUser"/>
<p>
<div class="azul" id="lbSex">
Sex:
</div>
<input type="radio"  id="mam" checked="checked"value="v" onclick="selectSex(this)"/>
<label id="lbMale" for="mam">Male</label>
<input type="radio" id="womam" value="m" onclick="selectSex(this)"/>
<label id="lbFemale" for="womam">Female</label>
</p>
<div class="azul" id="lbDateBirth">
Date of birth:
</div>
<br/>
<input type="date" id="bday" onchange="changeDate(this)" />
</fieldset>
<fieldset>
<legend id="lgFamily">Family</legend>
<p>
<div class="azul" id="lbChildren">
Children:
</div>
<br/>
<input type="radio" id="withChildren" checked="checked" onclick="selectChildren(this)"/>
<label id="lbWithCildren" for="withChildren">Yes</label>
<input type="radio" id="childless"  onclick="selectChildren(this)"/>
<label id="lbChidless" for="childless">No</label>
<p>
<div id="childrenAge">
<div  class="azul" id="lbChildrenAge">
Children´s age:
</div>
<br/>
<input type="checkbox"  id="nChildren1" onclick="selectNumChildren(this)"/>
<label for="hijo0">0-5</label>
<input type="checkbox" id="nChildren2" onclick="selectNumChildren(this)"/>
<label for="hijo1">6-12</label>
<input type="checkbox" id="nChildren3" onclick="selectNumChildren(this)"/>
<label for="hijo2">13-18</label>
<br/>
<p>
</div>
</fieldset>
<br><br>
<input id="ok" type="button" value="OK" onclick="javascript:menu('menu');" />




