<div  class="scroller" >

<!--div align="right" class="logo_closeWhere"><input id="close" type="button" value="X" onclick="javascript:menu('menu');" align="right" /></div-->

   <div id="cWhere"><img  src="img/where_32.png" height="20" width="20"/>&nbsp;&nbsp;Elige dónde&nbsp;&nbsp;&nbsp;&nbsp;</div>
   <div id="desWhere">Las zonas preseleccionadas tendrán preferencia a la hora de mostrar los eventos</div>

<div class="pWhere">
<p>
<input id="where1" class="css-checkbox" type="checkbox" onclick="selectWhere(this)" />
<label for="where1" class="css-label">Norte</label>
<p>
<input id="where2" class="css-checkbox" type="checkbox" onclick="selectWhere(this)" />
<label for="where2"  class="css-label">Centro</label>
<p>
<input id="where3" class="css-checkbox" type="checkbox" onclick="selectWhere(this)" />
<label for="where3" class="css-label">Carralero</label>
<p>
<input id="where4" class="css-checkbox" type="checkbox" onclick="selectWhere(this)" />
<label for="where4" class="css-label">Monte del Pilar</label>
<p>
<input id="where5" class="css-checkbox" type="checkbox" onclick="selectWhere(this)" />
<label for="where5" class="css-label">Plantío</label>
<p>
<input id="where6" class="css-checkbox" type="checkbox" onclick="selectWhere(this)" />
<label for="where6"  class="css-label">Gran Plaza</label>
</div>
<div  class="search"> <input id="accept" type="button" value="Aceptar" onclick="javascript:viewCuerpo();"/></div>
<!--div align="right" class="logo_okWhere"><input id="ok" type="button" value="ok" onclick="javascript:viewCuerpo();" align="right" /></div-->
</div>




