  
 <div id="contact" >
    <form action="javascript:setTimeout(function(){altaEvento();}, 400);" method="get" >    
      <div  class="mod2">
  
         <h2>Título</h2>
	 <input class="iUser" type="text" id="nombreEvent" placeholder="Dale un nombre al evento" required/>
      </div>
        <br>
      <div  class="mod2">
         <h2>Selecciona un deporte </h2>	
            <select id="selDeporte" onchange="cargarRecintos()" class="selButton">
                <option value="Deportes...">Deportes...</option>
                <option value="Baloncesto">Baloncesto</option>
                <option value="Tenis">Tenis</option>
                <option value="Padel">Padel</option>
                <option value="Fútbol 7">Fútbol 7</option>
                <option value="Fútbol 11">Fútbol 11</option>
                <option value="Fútbol sala">Fútbol sala</option>
                <option value="Running">Running</option>
                <option value="Esgrima">Esgrima</option>
                <option value="Patinaje">Patinaje</option>
                <option value="Voleibol">Voleibol</option>
                <option value="Escalada">Escalada</option>
                <option value="Golf">Golf</option>
            </select> 
         <br>
      </div>
        <br>
      <div  class="mod2">
         <h2>¿Dónde?</h2>
         <div id="selRecintos"></div>
	 <input class="iUser" type="text" id="direccion" placeholder="Dirección" required/>
         <button id="close" type="button" value="Buscar" onclick="javascript:setTimeout(function(){centrarPos(document.getElementById('direccion').value) ();}, 400);" >Buscar Mapa</button>           
         <br><br>
         <div id="map2"></div>
         <br>
      </div>
        <br>
      <div  class="mod2">
          <h2>¿Cuándo?</h2>
          <label class="lbTextFecha">Día:</label>  <input class="iWhen" type="date" id="dia" placeholder="Día" required/>
          <label class="lbTextFecha" >Hora:</label>   <input class="iWhen" type="time" id="hora" placeholder="Hora" required />         
          <br>
      </div>
      <br>
      <div  class="mod2">
        <br>        
        <label class="lbTextFecha" >Sexo: </label> 
        <input type="radio" class="rSexo" id="radio3" name="radios" value="true" checked>
        <label for="radio3">Mixto</label>
        <input type="radio" class="rSexo" id="radio1" name="radios" value="all" >
        <label for="radio1">Masculino</label>
        <input type="radio" class="rSexo" id="radio2" name="radios" value="false">
        <label for="radio2">Femenino</label>               
        <br><br>
      </div>
      <br>
      <div  class="mod2">
         <br>
         <div id="slider-r"></div>
         <p>
             <label for="amount">Niveles de los participantes</label><br>
         <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
         </p>
         <br>
      </div>
   


      
      <div id="slider-range"></div>
            <br>
            
            <!--<input  class="iUser" type="checkbox"  id="aceptLicencia" onclick="selectLicencia()"><a onclick="javascript:mensajePrivacidad()"> Acepto las condiciones de privacidad </a>-->
            <br> <br> <p> 
            <div style="alignment-adjust: center;">
            <button id="close" type="submit" value="!REGISTRAME!" >Crear evento</button> <!-- onclick="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);"-->
            <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){pagInicio();}, 400);" >Cancelar</button>           
            </div>
	</form>
     </div>     


