<div class="Absolute-Center">
<fieldset style="width: 90%; height: 90%; text-align: center;">
    <label id="lbName" class="perfil" style="margin: 5%; font-size:14px;  font-family: 'Roboto-Regular';" for="nombre">Comentario:</label><br>	
  <textarea class="taComent" style="width: 85%; height: 60%; " name="coments" id="coments" maxlength="200">
  </textarea>
<!--        <div style="alignment-adjust: center;">
            <buttonComent id="close" type="buttonComent" value="Aceptar" onclick="javascript:addComments();" >Aceptar</buttonComent>  onclick="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);"
            <buttonComent id="close" type="buttonComent" value="Cancelar" onclick="verEvento(numEvento);" >Cancelar</buttonComent>           
            </div>-->
    
     <div style="text-align: center">
       <input id="guardar"  type="button" value="Aceptar" onclick="javascript:addComments();"/> <!--onclick="javascript:guardarTipos();"-->
       <input id="guardar"  type="button" value="Cancelar" onclick="verEvento(numEvento);"/>
 </div>
<!--    <button id="close" type="button" value="Aceptar" onclick="javascript:addComments();">Aceptar</button> <button id="close" type="button" value="Cancelar" onclick="verEvento(numEvento);">Candelar</button></div>-->
</fieldset>
</div>
<!--<div  class="search">-->


<input  disabled type="hidden" name="nombre"  id="nickUserComment"/>