  
 <div id="contact" >
     <div id='ranting'  style='text-align:left'><a  href='javascript:startRatingSurvey2();'><img class='logoRanting' src='img/estrellas.png' /></a></div>

    <form action="javascript:setTimeout(function(){guardarCambiosUser();}, 400);" method="get" >
       
       
      <div  class="mod2">
         <h2>Datos personales</h2>
         <a href="javascript:obtenerFoto();"><img  align='left' id='logoUser' class='logoIzda' height='80' width='80' /></a>
         <label class="lbNomApeUser">Nombre:</label>
	 <input class="nomApeUser" type="text" id="confNombreUser" placeholder="Nombre" required/>
         <label class="lbNomApeUser">Apellidos:</label>
         <input class="nomApeUser" type="text" id="confApellidosUser" placeholder="Apellidos" required/>         

<!--         <div class="buttonHolder">
                <a href="#" id="bHombre" class="button heart" onclick="selectSexo('0')"></a>
                <a href="#" id="bMujer" class="button flower" onclick="selectSexo('1')"></a>
           </div>-->
               <br>        
        <label class="lbTextFecha" >Sexo: </label> 
        <input type="radio" class="rSexo" id="rMasculino"  name="radios" value="all" checked>
        <label for="rMasculino">Masculino</label>
        <input type="radio" class="rSexo" id="rFemenino" name="radios" value="false">
        <label for="rFemenino">Femenino</label>               
        <br><br>
<!--         <input class="iUser" type="email" id="confEmail" placeholder="Email" required/>  -->

         <label class="lbTfono">Nº de teléfono: </label>
         <input class="iUser2" type="tel" id="confTelefonoUser" placeholder="Nº de teléfono" required/><a href="javascript:infotfn();"><img src="img/info.png" height="36" width="36" style="position: relative; top:10px" /></a>
      </div>
        <br>
<!--      <div  class="mod2">
         <h2>¿Por qué zona quieres buscar eventos?</h2>
	 <input class="iUser" type="text" id="direccion" placeholder="Dirección" />         
         <button id="close" type="button" value="Buscar" onclick="javascript:setTimeout(function(){centrarPos(document.getElementById('direccion').value) ();}, 400);" >Buscar Mapa</button>           
         <br><br>
         <div id="map2"></div>
         <br>
      </div>
        <br> -->
      <div  id="modD2">

       </div>
        <br>
      <div  class="mod2">
          <h2>Contraseña</h2>
            <input class="iUser" type="password" id="confContrasena" placeholder="Contraseña" />
            <input class="iUser" type="password" id="ConfContrasenaConf" placeholder="Confirmar contraseña" />
        
      </div>
        
      <br>

            <div style="alignment-adjust: center;">
            <button id="close" type="submit" value="Guardar" >Guardar</button> <!-- onclick="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);"-->
            <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){pagInicio();}, 400);" >Cancelar</button>           
            </div>
	</form>
     </div>     


