  
   <div id="contact" >

<!--         <h2>Datos alta registro</h2>-->
	<form action="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);" method="get" >
<!--		<fieldset>-->
                    <!--			<label for="name">Nombre:</label>-->
	    <input class="iUser" type="text" id="nombre" placeholder="Nombre" required/>
                        <!--<label for="name">Apellidos:</label>-->
	    <input class="iUser" type="text" id="apellidos" placeholder="Apellidos" />
			
			<!--<label for="email">Email:</label>-->
            <input class="iUser" type="email" id="email" placeholder="Email" required/>  
            <div class="buttonHolder">
                <a href="#" id="bHombre" class="button heart" onclick="selectSexo('0')"></a>
                <a href="#" id="bMujer" class="button flower" onclick="selectSexo('1')"></a>
            </div>

            <input class="iUser" type="password" id="contrasena" placeholder="Contraseña" required/>
            <input class="iUser" type="password" id="contrasenaConf" placeholder="Confirmar contraseña" required/>



            <br>
            <input  class="iUser" type="checkbox"  id="aceptLicencia" onclick="selectLicencia()"><a onclick="javascript:mensajePrivacidad()"> Acepto las condiciones de privacidad </a>
            <br>
            <div style="alignment-adjust: center;">
            <button id="btRegistro" type="submit" value="!REGISTRAME!" disabled="disabled" >!REGISTRAME!</button> <!-- onclick="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);"-->
            <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){pagInicio();}, 400);" >Cancelar</button>           
            </div>
	</form>
     </div>     


