

<div id="cuerpoDeportConf" >             
     <div class="container">
        <div class="outer r2x1">
            <div class="inner">
                <input class="little-box" type="image" id="botStatus1" name="ferias" src="img/d1.png"  onclick="changeButton('1')" />
                <input class="little-box" type="image" id="botStatus2" name="ferias" src="img/d2.png"  onclick="changeButton('2')" />
                <input class="little-box" type="image" id="botStatus3" name="ferias" src="img/d3.png"  onclick="changeButton('3')" />
                <input class="little-box" type="image" id="botStatus4" name="ferias" src="img/d4.png"  onclick="changeButton('4')" />
                <input class="little-box" type="image" id="botStatus5" name="ferias" src="img/d5.png"  onclick="changeButton('5')" />
                <input class="little-box" type="image" id="botStatus6" name="ferias" src="img/d6.png"  onclick="changeButton('6')" />
                <input class="little-box" type="image" id="botStatus7" name="ferias" src="img/d7.png"  onclick="changeButton('7')" />
                <input class="little-box" type="image" id="botStatus8" name="ferias" src="img/d8.png"  onclick="changeButton('8')" />
                <input class="little-box" type="image" id="botStatus9" name="ferias" src="img/d9.png"  onclick="changeButton('9')" />
                <input class="little-box" type="image" id="botStatus10" name="ferias" src="img/d10.png"  onclick="changeButton('10')" />
                <input class="little-box" type="image" id="botStatus11" name="ferias" src="img/d11.png"  onclick="changeButton('11')" />
                <input class="little-box" type="image" id="botStatus12" name="ferias" src="img/d12.png"  onclick="changeButton('12')" />
<!--                <input class="little-box" type="image" id="botStatus13" name="ferias" src="img/d13.png"  onclick="changeButton('13')" />
                <input class="little-box" type="image" id="botStatus14" name="ferias" src="img/d14.png"  onclick="changeButton('14')" />
                <input class="little-box" type="image" id="botStatus15" name="ferias" src="img/d15.png"  onclick="changeButton('15')" />
                <input class="little-box" type="image" id="botStatus16" name="ferias" src="img/d16.png"  onclick="changeButton('16')" />
                <input class="little-box" type="image" id="botStatus17" name="ferias" src="img/d17.png"  onclick="changeButton('17')" />                
                <input class="little-box" type="image" id="botStatus18" name="ferias" src="img/d18.png"  onclick="changeButton('18')" />                -->
            </div>
        </div>
    </div>
</div>
<div id="pieDeportConf" >         
         <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){guardarDeportesBBDD();}, 400);" >Volver</button>           
</div>