 <div id="contact" >
    <form action="javascript:setTimeout(function(){altaEvento();}, 400);" method="get" >            
        <div id="listaEventos">
<!--            <div  class='modEvent'>
                
                    <div class="modLis1"> 
                        <a href="javascript:exportToCalendar('num');">
                    <time class="icon">
                    <em>Sábado 12:30</em>
                    <strong>Septiembre</strong>
                    <span>20 </span>              
                    </time>                    
                             </a>
                    </div>
                    <div class="modLis2">                    
                        <a href="javascript:verEvento('num');">
                        
                            <h2 style="color: white">Partido padel sábados</h2>
                            <h3 style="color: white">Polideportivo La Cruz</h3>
                        </a>
                    </div>         
                    <div class="modLis3">     
                            <img src="img/d2.png" />
                    </div>                
            </div>
            <br><br>
            <div  class='modEvent'>
                 <div class="modLis1"> 
                        <a href="javascript:exportToCalendar('num');">
                    <time class="icon">
                    <em>Viernes 18:00</em>
                    <strong>Mayo</strong>
                    <span>10</span>              
                    </time>                    
                             </a>
                    </div>
                    <div class="modLis2">                    
                        <a href="javascript:verEvento('num');">
                        
                            <h2 style="color: white">Partido Baloncesto</h2>
                            <h3 style="color: white">C) Rios grande, 3. Majadahonda</h3>
                        </a>
                    </div>         
                    <div class="modLis3">     
                            <img src="img/d1.png" />
                    </div>                 
            </div>
            <br><br>
        <br>-->
        </div>
        
                 <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){pagInicio();}, 400);" >Volver</button>
    </form>
 </div>