<div class="botonesM">    
    <a class="rss" href="javascript:setTimeout(function(){getResultados();},400);"><img src="img/results.png" height="50" width="50"/> <div id="textMed">Campeonatos</div></a>
    <a class="twitter" href="javascript:setTimeout(function(){crearEvento();},400);"><img src="img/lists.png" height="50" width="50"/> <div id="textMed">Organizar eventos</div></a>
    <a class="facebook" href="javascript:setTimeout(function(){iniMap();},400);"><img src="img/map_ON.png" height="50" width="50"/> <div id="textMed">Eventos próximos</div></a>
    <a class="twitter" href="javascript:setTimeout(function(){listaEventos();},400);"><img src="img/listMenu2.png" height="50" width="50"/><div id="textMed">Listado eventos</div></a>
    <a class="facebook" href="javascript:setTimeout(function(){deportConfig();},400);">  <img src="img/iconDeport.png" height="50" width="50"/><div id="textMed">Mis deportes</div></a>
    <a class="dribble" href="javascript:setTimeout(function(){configureUser();},400);"><img src="img/user.png" height="50" width="50"/><div id="textMed">Configurar usuario</div></a>
</div>
