  <div id="foto"></div>        
    <div id="menuFoto">
       <div id="contenedorMenuFoto">
          <button id='btn-foto' ontouchend="capturePhoto()"></button>
          <button id='btn-galeria' ontouchend="getPhoto(pictureSource.PHOTOLIBRARY)"></button>
          <button id='btn-user' ontouchend="SinFoto()"></button>
       </div>
     </div>