 <div style="position:relative; top: 4%;width: 80%; height: 70%;   margin:10%;">	 <div style="text-align: center">
       <input id="guardar"  type="button" value="Buscar" onclick="javascript:buscarMap();"/> <!--onclick="javascript:guardarTipos();"-->
       <input id="guardar"  type="button" value="Cancelar" onclick="javascript:opcionMap();"/>
 </div>


<!--       <br>
        <fieldset>
            <legend>Número usuario Tecnalia:</legend>            
            <input  style="width: 60px" id="idUserTec"  type="number" max="6"  />            
        </fieldset>
<br> -->
<!--       <fieldset>
            <legend>Km. de búsqueda:</legend>
            <input  style="width: 35px" id="radioKm"  type="number"  max="5"   />  kilometros<br>            
        </fieldset>-->
<br><br>
       <fieldset>
         <legend>Deportes </legend>    
         <div class="left">Filtrar por un deporte</div>
            <select id="selDeporteMap"  class="selButton" onchange="deselTodos();">
                <option value="Deportes...">Deportes...</option>
                <option value="Baloncesto">Baloncesto</option>
                <option value="Tenis">Tenis</option>
                <option value="Padel">Padel</option>
                <option value="Fútbol 7">Fútbol 7</option>
                <option value="Fútbol 11">Fútbol 11</option>
                <option value="Fútbol sala">Fútbol sala</option>
                <option value="Running">Running</option>
                <option value="Esgrima">Esgrima</option>
                <option value="Patinaje">Patinaje</option>
                <option value="Voleibol">Voleibol</option>
                <option value="Escalada">Escalada</option>
                <option value="Golf">Golf</option>
            </select>      
       </fieldset>
<br> 
       <fieldset>
           <legend>Tipos:</legend>
           
            <div class="column_1">
              <div class="ckTodosDeportes">
	      <input type="checkbox" value="None" id="ckTodosDeportes" name="check1" onchange="selTodos();" />
	      <label for="ckTodosDeportes"></label>
            </div>
          </div>
          <div class="column_2">              
             <label class="lbText"> Todos los deportes</label> 
          </div>
          <div class="column_1">
              <div class="ckMisDeportes">
	      <input type="checkbox" value="None" id="ckMisDeportes" name="check1" onchange="selMisDeportes();" />
	      <label for="ckMisDeportes"></label>
            </div>
          </div>
          <div class="column_2">              
             <label class="lbText"> Mis deportes</label> 
          </div>
                   <div class="column_1">
              <div class="ckEventosHoy">
	      <input type="checkbox" value="None" id="ckEventosHoy" />
	      <label for="ckEventosHoy"></label>
            </div>
          </div>
          <div class="column_2">              
             <label class="lbText"> Eventos de hoy</label> 
          </div>
           
<!--         <div class="ckTodosDeportes">
            <input checked type="checkbox" id="ckTodosDeportes" onchange="selTodos();">Todos los deportes <br>
            <label for="ckTodosDeportes"></label>
         </div>
            <input  type="checkbox" id="ckMisDeportes" onchange="selMisDeportes();">Mis deportes <br>
            <input  type="checkbox" id="ckEventosHoy" >Eventos de hoy <br> -->
        
       </fieldset>
       <br>   

       
   </div>
