<!-- <div >
     <div>
      <img  src="../img/logo.png" />
      <h1>Majadahonda Sports Network</h1>          
      </div>
</div>-->

<div class="contenidoBody" align="center">

    <div class="cabeceraBody">        
    </div>
    <div class="cuerpoBody">
      <img  src="img/logo.png" height="250" width="250" />
     
    </div>
    <div class="pieBody">
         <div class="textInicio">Majadahonda Sports4U</div>
         <br>       
       <button id="accept" type="button" value="Iniciar Sesion" onclick="javascript:setTimeout(function(){javascript:iniciarSesion();}, 400);" >Iniciar Sesion</button>           
       <button id="close" type="button" value="Crear Cuenta" onclick="javascript:setTimeout(function(){crearCuenta();}, 400);" >Crear Cuenta</button>           
    </div>
</div>
    
   
<!--	<div class="range-container">
		<div class="slider-container">
			<div class="range-fill"></div>	
			<input class="slider" type="range" name="testerslider" min="0" max="4" step="0.01" list="testlist">
		</div>
		
		<div class="label-container">
			<div class="label">Primera vez</div>
			<div class="label">principiante</div>
			<div class="label">Medio</div>
			<div class="label">Avanzado</div>
      <div class="label">Pro</div>-->

	
	<!--    <div class="onoffswitch">
        
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>-->
    
<!--    <div class="switch demo3">
   <input type="checkbox" checked>
	<label><i></i></label>-->
