 <div id="contact" >
    <form action="javascript:setTimeout(function(){altaEvento();}, 400);" method="get" >   
        <input type="radio" class="rSexo" onclick="onClickClasificacion()" id="rClasificicaion" name="radios" value="all">
        <label for="rClasificicaion">Clasificación</label>
        <input type="radio" class="rSexo" onclick="onClickResultados()" id="rResultados" name="radios" value="false">
        <label for="rResultados">Resultados</label>     
        <!--div id="comboClasResul">
        </div-->
        <div id="comboTemporadas">           
        </div>
        <div id="comboCompeticiones">           
        </div>
        <div id="comboJornadas">           
        </div>
        <div id="tablaResultados">           
        </div>
    </form>
 </div>