<!--
<div style="text-align:right; height: 20px; width: 100%" >
</div>
<div align="center" style="text-align:right; height: 80px; width: 100%" >	 
	<a  href="javascript:startRatingSurvey();"><img src="img/estrellas.png" /></a>
</div>-->

<div id="ranting"  style="text-align:right"> 
<a  href="javascript:startRatingSurvey();javascript:setLog('AppProsume', 'The user has entered in the questionnaire')"><img class="logo" src="img/estrellas.png" /></a>
</div>
<div class="divPreUser"  >
<h1>El tiempo en tú localización</h1>
<div><h4>¿Qué tiempo hace donde te encuentras? Copartelo con el resto de usuarios.</h4></div>
<input class="btPredition" type="image" id="botStatus1"  src="img/despejado.png" onclick="changeButton(this)" />
<input class="btPredition" type="image" id="botStatus2" src="img/pocoNuboso.png" onclick="changeButton(this)" />
<input class="btPredition" type="image" id="botStatus3"  src="img/intervalosNubosos.png"  onclick="changeButton(this)" />
<input class="btPredition" type="image" id="botStatus4"  src="img/nubosoLluviaescasa.png"  onclick="changeButton(this)" />
<input class="btPredition" type="image" id="botStatus5"  src="img/muynubosoLluvia.png" onclick="changeButton(this)" />
<input class="btPredition" type="image" id="botStatus6"  src="img/nubosoNieve.png" onclick="changeButton(this)" />        

<br><br>


<select name="selectGrados" id="selGrados">
    <option value="-10°">-10°</option>
    <option value="-9°">-9°</option>
    <option value="-8°">-8°</option>
    <option value="-7°">-7°</option>
    <option value="-6°">-6°</option>
    <option value="-5°">-5°</option>
    <option value="-4°">-4°</option>
    <option value="-3°">-3°</option>
    <option value="-1°">-1°</option>
    <option value="0°">0°</option>
    <option value="1°">1°</option>
	<option value="2°">2°</option>    
	<option value="3°">3°</option>
	<option value="4°">4°</option>
	<option value="5°">5°</option>
	<option value="6°">6°</option>
	<option value="7°">7°</option>
	<option value="8°">8°</option>
	<option value="9°">9°</option>
	<option value="10°">10°</option>
	<option value="11°">11°</option>
	<option value="12°">12°</option>
	<option value="13°">13°</option>
	<option value="14°">14°</option>
	<option value="15°" selected>15°</option>
	<option value="16°">16°</option>
	<option value="17°">17°</option>	
	<option value="18°">18°</option>
	<option value="19°">19°</option>
	<option value="20°">20°</option>
	<option value="21°">21°</option>
	<option value="22°">22°</option>
	<option value="23°">23°</option>
	<option value="24°">24°</option>
	<option value="25°">25°</option>
	<option value="26°">26°</option>
	<option value="27°">27°</option>
	<option value="28°">28°</option>
	<option value="29°">29°</option>
	<option value="30°">30°</option>	
	<option value="31°">31°</option>
	<option value="32°">32°</option>
	<option value="33°">33°</option>
</select>
<br><br>
<input id="accept" type="button" value="Enviar" onclick="javascript:menu('enviarDatosUser');" /><input id="close" type="button" value="Cancelar" onclick="javascript:menu('menu');" />
</div>
