 <div id="menu">Registrar usuario</div>  
   <div id="contact" >
        

<!--         <h2>Datos alta registro</h2>-->
	<form action="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);" method="get" >
<!--		<fieldset>-->
                    <!--			<label for="name">Nombre:</label>-->
            <div class="textFormSes">Nombre:</div>
	    <input class="iUser" type="text" id="nombre" placeholder="Nombre" required/>
			
            <!--<label for="email">Email:</label>-->
            <div class="textFormSes">Email:</div>
            <input class="iUser" type="email" id="email" placeholder="Email" required/>  

            <div class="textFormSes">Contraseña:</div>
            <input class="iUser" type="password" id="contrasena" placeholder="Contraseña" required/>
            <div class="textFormSes">Confirmar contraseña:</div>
            <input class="iUser" type="password" id="contrasenaConf" placeholder="Confirmar contraseña" required/>



            <br>
            <input  class="iUser" type="checkbox"  id="aceptLicencia" onclick="selectLicencia()"><a onclick="javascript:mensajePrivacidad()"> Acepto las condiciones de privacidad </a>
            <br>
            <div style="alignment-adjust: center;">
            <button id="btRegistro" type="submit" value="!REGISTRAME!" disabled="disabled" >!REGISTRAME!</button> <!-- onclick="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);"-->
            <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){pagInicio();}, 400);" >Cancelar</button>           
            </div>
	</form>
     </div>     



<!--
<div class="one">
  <div class="button-wrap">
    <div class="button-bg">
      <div class="button-out">♀</div>
      <div class="button-in">♂</div>
      <div class="button-switch"></div>
    </div>
  </div>
</div>-->
<!--                 </fieldset>-->
                        <!--<label for="name">Contraseña</label>-->

             
<!--


<div id="contact">	
	<form action="#" method="post">
		<fieldset>
			<label for="name">Nombre:</label>
			<input type="text" id="name" placeholder="Nombre" />
                        <label for="name">Apellidos:</label>
			<input type="text" id="apellidos" placeholder="Apellidos" />
			
			<label for="email">Email:</label>
			<input type="email" id="email" placeholder="Email" />
                        
                        <label for="name">Contraseña</label>
			<input type="password" id="contrasena" placeholder="Contraseña" />		
		</fieldset>
	</form>
</div>
       <input id="registrarse" type="button" value="!REGISTRAME!"  onclick="javascript:iniciarSesion();"/>
       <input id="cancelar" type="button" value="Cancelar" onclick="javascript:crearCuenta();" />
-->

<!-- <div >
     <div>
      <img  src="../img/logo.png" />
      <h1>Majadahonda Sports Network</h1>          
      </div>
</div>-->

<!--<div class="contenidoBodyUser" align="center">

    <div class="cabeceraBodyUser">        
        Datos de tu perfil
    </div>
    <div class="cuerpoBodyUser">
        <input  type="text" name="nombre" value="Nombre" onchange="changeNick(this)"  id="idNombre"/>
        <input  type="text" name="apellidos" value="Apellidos" onchange="changeNick(this)"  id="idApellidos"/>
        <input  type="text" name="email" value="Email" onchange="changeNick(this)"  id="idEmail"/>
        <input  type="text" name="contraseña" value="Contraseña" onchange="changeNick(this)"  id="idContraseña"/>
        <input type="radio"  id="mam" onclick="selectSex(this)"/>
        <label id="lbMale" for="mam">Acepto las condiciones de privacidad</label>     
    </div>
    <div class="pieBodyUser">
        <input id="accept" type="button" value="¡Registrarme!"  onclick="javascript:nuevaFecha();"/>
       <input id="close" type="button" value="Cancelar" onclick="javascript:changeDateEvent();" />
    </div>

</div>-->