<div class="areaHelp">
  <a href="javascript:cerrarHelp2();"><img alt="" src="img/close.png" style="width: 40px; height: 40px; position:absolute; z-index:2;" /></a>
    <br><h3 style="text-align: center; left: 150px;">Ayuda opciones del menu</h3>

    <hr/>
    <h4><img alt="" src="img/MapasPublicos.png"  style="width: 100px; height: 100px; margin: 7px; float: left;" /><strong>Acceso a mapas públicos</strong></h4>

    <p>Desde este icono podrás acceder a todos los mapas públicos y colaborativos que hayan subido los usuarios. Si estas logueado y el mapa es colaborativo podrás editarlo y añadir nuevos marcadores.</p>
     
    <br>
    <hr/>
    <h4><img alt="" src="img/nuevoMapa.png" style="width: 100px; height: 100px; margin: 7px; float: left;" /><strong>Crear nuevo mapa</strong></h4>

    <p>Una vez te has logueado, podrás crear mapas nuevos. Para ello pulsa sobre el este icono y accederás al formulario donde podrás darle un título, un resumen e indicarás si el mapa es privado, público ó colaborativo. En los mapas colaborativos otros usuarios podrán añadir nuevos marcadores.</p>

 <br>
    <hr/>
    <h4><img alt="" src="img/MisMapas.png" style="width: 100px; height: 100px; margin: 7px; float: left;" /><strong>Acceso a mis mapas</strong></h4>

    <p>Desde este icono acederas a los mapas que has creado, para que puedas administralos.</p>
<br>
  <hr/>
    <h4><img alt="" src="img/edit.png" style="width: 125px; height: 125px; float: left;" /><strong>Editar Markers</strong></h4>

    <p>Si te aparece este icono, podrás añadir marcadores nuevos al mapa o modificar los marcadores que hayas creado con tu perfil.</p>
 <br>
    <hr/>
    
    <input id='close'  type='button' value='Cerrar' onclick='javascript:cerrarHelp2();'/>
</div>