<div class="areaHelp">
    <a href="javascript:cerrarHelp();"><img alt="" src="img/close.png" style="width: 40px; height: 40px; position:absolute; z-index:2;" /></a>
    <br><h3 style="text-align: center; left: 150px;">Ayuda para la edición del mapa</h3>
    <hr/>
    <h4><img alt="" src="img/addMarker.png" style="width: 125px; height: 125px; float: left;" /><strong>Añadir y editar marcadores</strong></h4>

    <p>Posicionate en la zona del mapa donde deseas añadir el marcador, cuando pulses el icono, te aparece un marcador, el cual podrás desplazarlo hasta el lugar donde desees. Si pulsas sobre él, podrás editar su título y su descripción, además de borrarlo. </p>
     
    <br>
    <hr/>
    <h4><img alt="" src="img/edit.png" style="width: 125px; height: 125px; float: left;" /><strong>Editar marcadores</strong></h4>

    <p>Si te aparece este icono, podrás añadir marcadores nuevos al mapa o modificar los marcadores que hayas creado con tu perfil.</p>

 <br>
    <hr/>
    <h4><img alt="" src="img/save.png" style="width: 125px; height: 125px; float: left;" /><strong>Guardar marcadores</strong></h4>

    <p>Una vez hayas añadido y editado los marcadores que quieras que aparezcan en el mapa, guárdalos pulsado el icono.</p>
<br>
    <hr/>
    
    <h4><img alt="" src="img/close.png" style="width: 125px; height: 125px; float: left;" /></h4>

    <div>
    <h4><strong>Salir de modo edición</strong></h4>

    <p>Pulsa este icono si quieres salir de modo de edición.</p>
    </div>
    <br>
    <hr/>
    <input id='close'  type='button' value='Cerrar' onclick='javascript:cerrarHelp();'/>
</div>