<div id="menu">Iniciar sesión</div>    
<div id="contactIni" >                 
    <br>
	<form action="javascript:setTimeout(function(){iniSession();}, 400);" method="get" >

            <div class="textFormSes">Email:</div>
            <input class="iUser" type="email" id="emailInicio" placeholder="Email" required/>  
            <br><br>
            <div class="textFormSes">Contraseña:</div>
            <input class="iUser" type="password" id="contrasenaInicio" placeholder="Contraseña" required/>

            </br></br></br>
            <div style="alignment-adjust: center; top:70%;">
            <button id="close" type="submit" value="Inciar sesión"  >Iniciar sesión</button> <!-- onclick="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);"-->
            <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){pagInicio();}, 400);" >Cancelar</button>           
            </div>
	</form>
</div>     
