<div id="menu">Mapas públicos</div>    
<div id="listMapIni" >         
<!--    <div  class='modListMap'>
        <h2 style="color: white">Teatros de la ciudad</h2>
        <h3 style="color: #D8D8D8">Mapa colaborativo actualizado el: 15/05/2015 a las 10:30</h3>        
    </div>
    <div  class='modListMap'>
        <h2 style="color: white">Lugares de ocio</h2>
        <h3 style="color: #D8D8D8">Mapa público actualizado el 15/05/2015 a las 9:47</h3>        
    </div>
    <div  class='modListMap'>
        <h2 style="color: white">Las mejores vistas</h2>
        <h3 style="color: #E6E6E6">Mapa colaborativo actualizado el 15/05/2015 a las 8:16</h3>            
    </div> 
    <div  class='modListMap'>
        <h2 style="color: white">Música en directo</h2>
        <h3 style="color: #E6E6E6">Mapa publico actualizado el 13/05/2015 a las 13:53</h3>            
    </div>
    <div  class='modListMap'>
        <h2 style="color: white">Zonas verdes</h2>
        <h3 style="color: #E6E6E6">Mapa colaborativo actualizado el 11/05/2015 a las 17:03</h3>            
    </div> 
    <div  class='modListMap'>
        <h2 style="color: white">Pistas de padel</h2>
        <h3 style="color: #E6E6E6">Mapa colaborativo actualizado el 10/05/2015 a las 14:35</h3>            
    </div> -->

</div>     
