<div id="menu">Nuevo mapa</div>    
<div id="contactIni" >                 
	<form action="javascript:setTimeout(function(){addMapa();}, 400);" method="get" >
            <div class="textForm">Nombre del mapa:</div>
            <input class="iUser" type="text" id="nuevoMapa" placeholder="Nombre del mapa" required/>  
            <div class="textForm">Descripción del mapa:</div>
            <textarea  class="iUser" style="width: 70%; height: 100px;" name="descripcion" id="descripcionMapa" maxlength="249"></textarea>
            
            <div id="main">            
                <br>
                <div id="column_left">            
                    <div class="onoff">
                        <div class="onoffswitch1">
                            <input type="checkbox" onchange="changePublico()"  name="onoffswitch1" class="onoffswitch-checkbox1" id="myonoffswitch1" checked>
                            <label class="onoffswitch-label1" for="myonoffswitch1">
                                <span class="onoffswitch-inner1"></span>
                                <span class="onoffswitch-switch1"></span>
                            </label>
                        </div> 
                    </div>
                    <br>
                    <br>
                    <div class="onoff">
                        <div class="onoffswitch2">
                            <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox2" id="myonoffswitch2" checked>
                            <label class="onoffswitch-label2" for="myonoffswitch2">
                                <span class="onoffswitch-inner2"></span>
                                <span class="onoffswitch-switch2"></span>
                            </label>
                        </div>
                    </div>
                </div>
                 <div id="column_right">
                    <div class="lbText">Mapa público </div>  
                    <div class="lbText">Mapa colaborativo </div>  
                </div>
            </div>

            </br>
            <div style="alignment-adjust: center;">
            <button id="close" type="submit" value="Inciar sesión"  >Crear mapa</button> <!-- onclick="javascript:setTimeout(function(){if(aceptLicencia.checked) {registrarUser();}}, 400);"-->
            <button id="close" type="button" value="Cancelar" onclick="javascript:setTimeout(function(){pagInicio();}, 400);" >Cancelar</button>           
            </div>
	</form>
</div>     
