<div data-role="page" data-theme="b" id="page-menu">
   <div style="position:absolute;top: 4%;width: 280px">	
       <input id="guardar"  type="button" value="Buscar" onclick="javascript:buscarMap();"/> <!--onclick="javascript:guardarTipos();"-->
       <input id="guardar"  type="button" value="Cancelar" onclick="javascript:opcionMap();"/>
<!--       <br>
        <fieldset>
            <legend>Número usuario Tecnalia:</legend>            
            <input  style="width: 60px" id="idUserTec"  type="number" max="6"  />            
        </fieldset>
<br> -->
       <fieldset>
            <legend>Km. de búsqueda:</legend>
            <input  style="width: 35px" id="radioKm"  type="number"  max="5"   />  kilometros<br>            
        </fieldset>
<br> 
       <fieldset>
         <legend>Deportes </legend>    
         <div class="left">Filtrar por un deporte</div>
            <select id="selDeporteMap"  class="selButton" onchange="deselTodos();">
                <option value="Deportes...">Deportes...</option>
                <option value="Baloncesto">Baloncesto</option>
                <option value="Tenis">Tenis</option>
                <option value="Padel">Padel</option>
                <option value="Fútbol 7">Fútbol 7</option>
                <option value="Fútbol 11">Fútbol 11</option>
                <option value="Fútbol sala">Fútbol sala</option>
                <option value="Running">Running</option>
                <option value="Esgrima">Esgrima</option>
                <option value="Patinaje">Patinaje</option>
                <option value="Voleibol">Voleibol</option>
                <option value="Escalada">Escalada</option>
                <option value="Golf">Golf</option>
            </select> 
         <div>
       </fieldset>
<br> 
       <fieldset>
           <legend>Tipos:</legend>
         <div>
            <input checked type="checkbox" id="ckTodosDeportes" onchange="selTodos();">Todos los deportes <br>
            <input  type="checkbox" id="ckMisDeportes" onchange="selMisDeportes();">Mis deportes <br>
<!--            <input checked type="checkbox" id="ckMisEventos" >Mis eventos <br>-->
            <input  type="checkbox" id="ckEventosHoy" >Eventos de hoy <br> 
         </div>
       </fieldset>
       <br>   

       
   </div>
</div>	